@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { overflow-x: hidden; }
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; scroll-behavior: auto !important; transition-duration: 0.01ms !important; }
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar on Webkit (Chrome, Safari) */
  }
  
  .no-scrollbar {
    scrollbar-width: none; /* Hide scrollbar on Firefox */
  }
  
